# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/2-HotChocolateSolution-Basic/.vs/HotChocolateAPI/FileContentIndex/f27862a5-ab0a-45f5-b208-191bd837e832.vsidx
/2-HotChocolateSolution-Basic/.vs/HotChocolateAPI/FileContentIndex/b1921393-e1e3-42f4-ad31-cc07df3f6770.vsidx
/2-HotChocolateSolution-Basic/.vs/HotChocolateAPI/FileContentIndex/42d362cc-2bfd-4c7c-9f80-8b5afd9324ef.vsidx
/2-HotChocolateSolution-Basic/.vs/HotChocolateAPI/FileContentIndex/3dacb282-b89e-4173-8738-881b3203d574.vsidx
